.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #001529;
    padding: 0 24px;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: white;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  